<div class="row">
  <!-- Topbar Search -->
  <form [formGroup]="searchForm"
    class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
    <div class="input-group">
      <input type="text" formControlName="search" (keyup)="valueChanged()" class="form-control bg-light border-0 small"
        placeholder="Search by song name" aria-label="Search" aria-describedby="basic-addon2">
    </div>
  </form>
</div>

<div class="row" *ngIf="listLoader">
  <div class="col-lg-4 offset-md-4">
    <div class="loader"></div>
  </div>
</div>

<ul class="list-group">
  <li *ngFor="let item of songsList|songName:searchText ;index as i;" class="list-group-item">
    <div class="songCont row" [ngClass]="{'fav': isFav(item.title)}">
      <div class="songIndex col-lg-1">
        <h3 class="">{{i +1}}</h3>
      </div>
      <div class="col-lg-2">
        <img class="songImage" [src]="item.image">
      </div>
      <div class="col-lg-5">
        <div class="title">{{item.title}}</div>
        <div class="subtitle">{{item.subtitle}}</div>
      </div>
      <div class="col-lg-2">
        <a [href]="item.shazamLink" class="shazamIcon" target="_blank"></a>
      </div>
      <div class="col-lg-2">
        <button (click)="addToFav(item.title)">add to fav</button>
      </div>
    </div>
  </li>
</ul>